#btnbar{
    text-align: center;
    margin-bottom: 20px;
    
}
#ahri{
    border-radius: 20px;
}
h1{
    font-size: 30px;
    position:relative;
}
h2{
    font-size: 25px;
    position:relative;
}
h3{
    font-size: 25px;
    color: #FFFFFF;
    
}


#contact{
    text-align: center;
    background-color: #2E64FE;
    border-radius: 10px;
}

#about{
    text-align: center;
    background-color: #2E64FE;
    border-radius: 10px;
}

#well{

    margin:0 auto;
    float:none;
    margin-bottom: 20px;
}

#aboutlist{

   text-align: left;


}

#vertspace{
    margin-top: 10px;
}

#noborder{
    border-style:hidden;
 
}

#nobborder{
    border-style:hidden;
    text-align: center;


}

#celltop{
    vertical-align: top;
}

#lore{
    font-size:20px;
    font-family:"Times New Roman", Times, serif;
    text-align:justify;
}

#lorequote{
    font-size:20px;
    font-family:"Times New Roman", Times, serif;
    text-align:right;
   
}

/* Champion buttons stuff */

.champ_btn { display: block; float:left; margin-right:80px; -moz-transition: none; -webkit-transition: none; -o-transition: color 0 ease-in; transition: none;}
.champ_btns { margin-bottom: 30px; }
.info_btn { background: url('http://giantsheep.net/ash/btn-champ_info.png'); height:42px; width: 283px; margin-left: 50px; }
.info_btn:hover { background-position: 0px -43px; }
.info_btn:active { background-position: 0px -86px; }

.lore_btn { background: url('http://giantsheep.net/ash/btn-lore.png'); height:42px; width: 219px; margin-left: 70px; }
.lore_btn:hover { background-position: 0px -43px; }
.lore_btn:active { background-position: 0px -86px; }

.submitted_btn { background: url('http://giantsheep.net/ash/btn-submitted.png'); height:42px; width: 339px; margin-left: 20px; }
.submitted_btn:hover { background-position: 0px -43px; }
.submitted_btn:active { background-position: 0px -86px; }


