#btnbar{
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}
#ahri{
    border-radius: 20px;
}

#noborders{
    border-style:hidden;
}

/* Champion buttons stuff */

.champ_btn { display: block; float:left; margin-right:80px }
.info_btn { background: url('http://giantsheep.net/ash/btn-champ_info.png'); height:43px; width: 283px; }
.info_btn:hover { background-position: 0px -43px; }
.info_btn:active { background-position: 0px -86px; }

.lore_btn { background: url('http://giantsheep.net/ash/btn-lore.png'); height:43px; width: 219px; }
.lore_btn:hover { background-position: 0px -43px; }
.lore_btn:active { background-position: 0px -86px; }

.submitted_btn { background: url('http://giantsheep.net/ash/btn-submitted.png'); height:43px; width: 339px; }
.submitted_btn:hover { background-position: 0px -43px; }
.submitted_btn:active { background-position: 0px -86px; }


/*ul {
  list-style: none;
  li {  }
  .button { display: block; float:left; margin-right:80px }
  .info { background: url('http://giantsheep.net/ash/btn-champ_info.png'); height:43px; width: 283px;
    &:hover { background-position: 0px -43px; }
    &:active { background-position: 0px -86px; }
  }
  .lore { background: url('http://giantsheep.net/ash/btn-lore.png'); height:43px; width: 219px;
    &:hover { background-position: 0px -43px; }
    &:active { background-position: 0px -86px; }
  }
  .submitted { background: url('http://giantsheep.net/ash/btn-submitted.png'); height:43px; width: 339px;
    &:hover { background-position: 0px -43px; }
    &:active { background-position: 0px -86px; }
  }
}  */